
<div class="jumbotron">
    <h1 style="color:blue;">PRODUCTOS </h1>
    <br>


<form method="post" action="/productos">
<label for="">
<input type="text" name="nombre" value="dddddd" placeholder="tu producto">
</label>
<label>
<input type="text" name="precio" value="1" placeholder="tu precio">

</label>
<label>
<input type="text" name="thumbail" value="" placeholder="link">
<button> Ingresa</button>
</label>

</form>
</div>