{{!-- main.hbs --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title >Trabajo Plantilla HBS</title>
    <meta name="viewport" content="width-device-width, initial-scale=1.0, viewport-fit=cover" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css" integrity="sha512-Aa+z1qgIG+Hv4H2W3EMl3btnnwTQRA47ZiSecYSkWavHUkBF2aPOIIvlvjLCsjapW1IfsGrEO3FU693ReouVTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/main.js"></script>
</head>
<body>

{{{body}}}

    
    
  
</body>

</html>